body {
    overflow-x: hidden;
    color: $primary-color;
    font-family: $default-font;
    font-size: 15px;
    color: $primary-color;
}

img {
    max-width: 100%;
    height: auto;
}

a,
button,
input,
textarea,
label {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

a,
button {
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
    -webkit-transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
    -moz-transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
    -o-transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
}

.container {
    max-width: 1200px;
}

.secondary-color {
    color: $secondary-color;
}

.primary-light-color {
    color: $primary-light-color;
}

.third-color {
    color: $third-color;
}

.fourth-color {
    color: $fourth-color;
}

.fifth-color {
    color: $fifth-color;
}

h1 {
    color: $primary-color;
}

h2 {
    font-family: $decorate-font;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-family: $decorate-font;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

h4 {
    font-family: $decorate-font;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.primary-title {
    font-family: $decorate-font;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: 22px;
}

.main-h1 {
    font-family: $decorate-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: 22px;
    color: $secondary-color;
}

.main-btn {
    color: $secondary-color;
    border: 2px solid $secondary-color;
    min-width: 170px;
    line-height: 42px;
    font-size: 15px;
    padding: 0 5px;
    border-radius: 25px;
    text-align: center;
    &:hover {
        background-color: $secondary-color;
        color: #fff;
    }
}

.primary-btn {
    display: inline-block;
    color: #fff;
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    min-width: 270px;
    line-height: 56px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 0 35px;
    border-radius: 40px;
    text-align: left;
    position: relative;
    &::after {
        position: absolute;
        top: 24px;
        display: inline-block;
        margin-left: 20px;
        content: "";
        border: 0;
        width: 8px;
        height: 8px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        transition: all 0.3s;
    }
    &:hover {
        background-color: $secondary-color-hover;
        border-color: $secondary-color-hover;
        color: #fff;
    }
    &:hover::after {
        margin-left: 30px;
    }
}

.underline-btn {
    font-size: 16px;
    color: $secondary-color;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    padding: 0;
    &:hover {
        color: $secondary-color-hover;
        text-decoration: none;
    }
}

.bold-link {
    color: $secondary-color;
    font-weight: bold;
    font-size: 18px;
    &:hover {
        color: $secondary-color-hover;
    }
}

header {
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        padding: 0;
        margin-top: -16px;
        margin-right: 0;
        img {
            width: 270px;
        }
    }
    .navbar .navbar-nav .nav-link {
        font-size: 15px;
        color: $primary-color;
        padding: 40px 23px 40px 15px;
        &:hover {
            color: $secondary-color;
        }
    }
    .navbar .navbar-nav .nav-link.dropdown-toggle {
        padding-right: 37px;
    }
    .main-btn {
        margin: 3px 26px 0 6px;
        min-width: 182px;
    }
    .dropdown-toggle::after {
        position: absolute;
        top: 46px;
        display: inline-block;
        margin-left: 8px;
        content: "";
        border: 0;
        width: 7px;
        height: 7px;
        border-top: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        transform: rotate(135deg)
    }
    .navbar .navbar-nav .nav-link:hover {
        &.dropdown-toggle::after {
            border-top: 2px solid $secondary-color;
            border-right: 2px solid $secondary-color;
            transform: rotate(135deg);
            transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
            -webkit-transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
            -moz-transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
            -o-transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out, box-shadow .3s ease-out;
        }
    }
    .navbar .navbar-nav .nav-item.dropdown.show {
        .nav-link {
            &.dropdown-toggle::after {
                transform: rotate(-45deg);
                top: 24px;
            }
        }
    }
    .dropdown-menu {
        min-width: 190px;
        padding: 0;
        font-size: 15px;
        color: $primary-color;
        left: 15px;
        top: 80px;
        border: 0;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 1.5px 2.598px 10px 0px rgba(184, 216, 221, 0.3);
        .dropdown-item {
            font-size: 15px;
            padding: 15px 18px;
            &:focus,
            &:hover {
                color: #fff;
                text-decoration: none;
                background-color: $secondary-color;
            }
            &:first-child {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            &:last-child {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}

.navbar-toggler {
    padding-right: 0;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    position: relative;
}

.navbar-toggler span {
    display: block;
    background-color: $primary-color;
    height: 2px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.first-screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('../img/bg-first-screen.jpg');
    height: 640px;
    position: relative;
    overflow: hidden;
    .photo-back {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/photo.png');
        position: absolute;
        width: 100%;
        height: 100%;
        left: 45px;
        top: 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 480px;
        position: relative;
        z-index: 10;
    }
    .small-text {
        margin-bottom: 22px;
        p {
            font-size: 16px;
            margin-bottom: 14px;
            line-height: 1.375;
        }
    }
}

.bottom-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    span {
        font-size: 16px;
        padding: 0 12px;
    }
}

.list-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    margin-top: 100px;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 1.5px 2.598px 10px 0px $box-shadow-item;
        padding: 26px 27px 20px;
        h2 {
            font-family: $decorate-font;
            font-size: 40px;
            font-weight: 700;
            line-height: 56px;
            text-align: center;
            margin-bottom: 0;
            span {
                color: $secondary-color;
                display: block;
            }
        }
        .item-icon {
            background-color: $background-color-icon;
            width: 120px;
            height: 103px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .item-title {
        justify-content: center;
        padding: 25px 45px;
    }
    .item-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-family: $decorate-font;
            font-size: 20px;
            line-height: 50px;
            font-weight: 700;
            margin-bottom: 5px;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 36px;
            color: $primary-light-color;
            text-align: center;
        }
    }
}

.background-text {
    background-color: rgb(241, 250, 248);
    height: 595px;
    width: 100%;
    margin-top: -200px;
    margin-bottom: 100px;
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-top: 275px;
        max-width: 600px;
        margin: 0 auto;
        p {
            font-size: 24px;
            font-weight: 500;
            line-height: 40px;
            text-align: center;
            margin-bottom: 10px;
        }
        .big-p {
            font-size: 32px;
            font-family: $decorate-font;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }
}

.images {
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    grid-gap: 130px;
    .text {
        margin-top: -8px;
        text-align: center;
        p {
            font-size: 16px;
            line-height: 36px;
            color: $primary-light-color;
            text-align: center;
            margin-top: 35px;
        }
    }
    .img-with-text {
        position: relative;
    }
    .name {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        bottom: 38px;
        span {
            display: block;
            color: #c1cde5;
            font-size: 15px;
        }
        p {
            font-size: 18px;
            font-family: $decorate-font;
            font-weight: 700;
            color: #fff;
        }
    }
}

.list-values {
    margin-top: 52px;
    .item {
        min-height: 100px;
        display: grid;
        grid-template-columns: 1.1fr 2fr;
        align-items: center;
        border-top: 1px solid #edeff3;
        padding: 25px 10px;
        p {
            font-size: 16px;
            padding-left: 25px;
            line-height: 35px;
            margin-bottom: 0;
        }
    }
}

.bg-services {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/bg-services.jpg');
    height: 640px;
    position: relative;
    overflow: hidden;
    margin-top: 130px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 77px 0 82px;
    .list-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 0;
        margin-top: 0;
        .item {
            max-width: 270px;
        }
    }
    .text {
        padding: 0 45px 0 115px;
        h2 {
            text-align: left;
            margin-bottom: 30px;
        }
        p {
            font-size: 16px;
            line-height: 32px;
        }
        .sub-title {
            font-family: $decorate-font;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.375;
            margin-bottom: 20px;
            color: $secondary-color;
        }
    }
    .primary-btn {
        margin-top: 10px;
        min-width: 320px;
        padding: 0 60px;
    }
}

.table-values {
    margin-top: 92px;
    h2 {
        max-width: 700px;
        margin: 0 auto;
        line-height: 54px;
    }
}

.ico {
    position: relative;
    text-align: center;
    span {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        &::after {
            position: absolute;
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 30px;
            height: 30px;
        }
    }
}

.ico-no {
    span::after {
        background-image: url(../img/icons/ico-no.png);
    }
}

.ico-yes {
    span::after {
        background-image: url(../img/icons/ico-yes.png);
    }
}

.table-properties {
    margin-top: 40px;
    .item {
        display: grid;
        grid-template-columns: 43% 1fr;
        border: 1px solid #edeff3;
        border-bottom: 0;
        &:last-child {
            border-bottom: 1px solid #edeff3;
            .second-column {
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                margin-bottom: -4px;
            }
        }
        &:first-child {
            .second-column {
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
        }
        &.item-title {
            border: 0;
            grid-template-columns: 43% 1fr 1fr;
        }
        &.item-title>div {
            border: 1px solid #edeff3;
            border-bottom: 0;
            &:first-child {
                border: 0;
            }
            &:last-child {
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                border-left: 0;
                background-color: #fcfffe;
                box-shadow: 0px 0px 10px 0px rgb(184 216 221 / 40%);
                padding: 0 20px;
                margin-left: -10px;
                margin-right: -7px;
            }
        }
        h4 {
            text-align: center;
            border-bottom: 0;
            min-height: 55px;
            margin-bottom: 0;
            padding: 10px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
        }
        .first-column {
            border-left: 1px solid #edeff3;
            border-right: 1px solid #edeff3;
            padding-right: 25px;
            p {
                text-align: center;
            }
        }
    }
    .second-column {
        background-color: #fcfffe;
        box-shadow: 0px 0px 10px 0px rgb(184 216 221 / 40%);
        padding: 0 20px;
        margin-left: -10px;
        margin-right: -7px;
    }
    .values {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &>div {
            padding: 12px 5px 12px 25px;
        }
    }
    .name {
        padding: 12px 5px 12px 25px;
        p {
            span {
                font-size: 13px;
            }
        }
    }
}

.carousel-block {
    margin-top: 95px;
    h2 {
        margin-bottom: 35px;
    }
    .list-items {
        margin-top: 0;
        .owl-item {
            padding: 12px;
        }
        .item {
            padding: 26px 20px 10px;
            .item-icon {
                margin-bottom: 10px;
            }
        }
    }
    .owl-dots {
        margin: 24px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .owl-dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $dot-color;
            margin: 0 9px;
            &.active {
                background-color: $dot-active-color;
            }
        }
    }
}

footer {
    margin-top: 100px;
    h2 {
        font-size: 32px;
        color: #fff;
        margin-bottom: 20px;
    }
}

.footer {
    background-color: $primary-color;
    margin-top: -128px;
    padding-top: 165px;
    p,
    a {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .nav-address {
        img {
            margin-bottom: 30px;
            width: 270px;
        }
        p {
            color: #fff;
        }
    }
    .nav-list {
        padding-top: 37px;
        a {
            color: #fff;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 25px;
            margin-bottom: 11px;
            &:hover {
                color: $dot-active-color;
            }
            &::before {
                position: absolute;
                content: '';
                border-radius: 50%;
                background-color: $dot-active-color;
                width: 7px;
                height: 7px;
                left: 0;
            }
        }
    }
}

.footer-items {
    display: grid;
    grid-template-columns: 35% 21% 21% 18%;
    .bold-link {
        font-size: 30px;
    }
    .nav-contacts {
        padding-top: 37px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            font-size: 12px;
            line-height: 25px;
            text-transform: uppercase;
            margin-bottom: 0;
            color: #fff;
        }
    }
}

.information-block {
    padding: 50px 0 38px;
    border-radius: 20px;
    background-image: linear-gradient( 0deg, rgb(104, 133, 193) 0%, rgb(99, 194, 216) 60%, rgb(156, 219, 209) 99%);
    position: relative;
    z-index: 10;
    .bottom-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 16px;
            padding: 0 12px;
            color: #fff;
        }
        .underline-btn {
            color: #fff;
        }
    }
}

.footer-bottom-text {
    border-top: 1px solid rgba(255, 255, 255, 0.149);
    margin-top: 21px;
    p {
        color: rgba(255, 255, 255, 0.502);
        font-size: 14px;
        padding: 23px 0;
        text-align: center;
    }
    .images .text {
        text-align: center;
    }
}

.modal-content {
    border-radius: 20px;
    min-height: 700px;
}

.modal-header {
    padding: 20px 37px 24px;
    .modal-title {
        font-family: "Playfair Display", serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.375;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .close {
        position: absolute;
        top: 6px;
        right: 15px;
        margin: 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background-color: $secondary-color;
            border-radius: 2px;
        }
        &:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 12px;
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 2px;
        }
    }
}

.modal-body {
    padding: 37px 40px 0;
    .form-control {
        height: 46px;
        padding: 5px 19px;
        line-height: 24px;
        color: #697896;
        border-color: #e1e2e6;
        font-size: 15px;
        cursor: pointer;
        border-radius: 7px;
        background-color: rgb(252, 255, 254);
        transition: color .3s ease-out, background-color .3s ease-out, box-shadow .3s ease-out;
        -webkit-transition: color .3s ease-out, background-color .3s ease-out, box-shadow .3s ease-out;
        -moz-transition: color .3s ease-out, background-color .3s ease-out, box-shadow .3s ease-out;
        -o-transition: color .3s ease-out, background-color .3s ease-out, box-shadow .3s ease-out;
        &:hover,
        &:focus {
            box-shadow: 1.5px 2.598px 5px 0px #b8d8dd26;
        }
    }
    label {
        margin-bottom: 9px;
        font-size: 15px;
    }
    .form-group {
        margin-bottom: 27px;
    }
    textarea.form-control {
        min-height: 100px;
    }
}

.bootstrap-select {
    margin-bottom: 0!important;
    padding: 0!important;
    border: none!important;
    height: auto!important
}

.bootstrap-select .dropdown-menu {
    min-width: 100%;
    box-sizing: border-box;
    position: sticky;
    border-radius: 5px;
    border: 1px solid #e1e2e6;
    padding: 0;
    right: 0;
    left: auto!important;
    margin-top: 5px;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
    height: 100%;
    background: 0 0;
    border: 0
}

.bootstrap-select>button.dropdown-toggle {
    height: 46px;
    padding: 5px 19px;
    line-height: 34px;
    font-size: 15px;
    color: #697896;
    border: 1px solid #e1e2e6;
    cursor: pointer;
    border-radius: 7px;
    background-color: #fcfffe;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
    -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
    -o-transition: color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.bootstrap-select>button.dropdown-toggle:after {
    position: absolute;
    top: 18px;
    right: 20px;
    display: inline-block;
    margin-left: 8px;
    content: "";
    border: 0;
    width: 7px;
    height: 7px;
    border-top: 2px solid #233556;
    border-right: 2px solid #233556;
    transform: rotate( 135deg);
}

.bootstrap-select .dropdown-toggle[aria-expanded=true]:after {
    margin-top: -1px
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0!important;
    outline-offset: 0!important;
    box-shadow: 1.5px 2.598px 5px 0px #b8d8dd26;
}

.bootstrap-select .btn-light:not(:disabled):not(.disabled).active,
.bootstrap-select .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select.show>.btn-light.dropdown-toggle {
    color: #373a3c;
    background-color: transparent;
    border-color: #ccc
}

.bootstrap-select .dropdown-item {
    padding: 0
}

.bootstrap-select .dropdown-item span {
    font-size: 15px;
    padding: 8px 19px;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.bootstrap-select .dropdown-item:focus span,
.bootstrap-select .dropdown-item:hover span {
    color: #fff;
}

.bootstrap-select .dropdown-item.active span,
.bootstrap-select .dropdown-item:active span,
.bootstrap-select .dropdown-item:focus,
.bootstrap-select .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: $secondary-color;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
    background-color: $secondary-color;
}

.modal-footer {
    border: 0;
    justify-content: center;
    padding: 0 37px 44px;
    .main-btn {
        color: #fff;
        border: 2px solid $secondary-color;
        background-color: $secondary-color;
        min-width: 260px;
        line-height: 52px;
        font-size: 16px;
        &:hover {
            border: 2px solid $secondary-color-hover;
            background-color: $secondary-color-hover;
        }
    }
}

.required-field label span {
    color: $danger-color;
}

.error-field .form-control {
    border-color: $danger-color !important;
}

.success-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 700px;
    position: relative;
    h3 {
        margin-top: 30px;
        margin-bottom: 0;
    }
    p {
        font-size: 18px;
        margin: 20px auto 48px;
    }
}

.success-block svg {
    background-color: transparent
}

.success-block svg {
    width: 100px;
    height: 100px
}

.success-block .wi-circle {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10
}

.success-block .wi-circle-dash {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-miterlimit: 10
}

.success-block .wi-check {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
}

.success-block .wi-check-dash {
    fill: none;
    stroke: $secondary-color;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
}

.success-block .wi-check {
    stroke-dasharray: 60 100;
    animation: check 1.2s cubic-bezier(.5, 0, .6, 1) forwards .15s;
    -webkit-animation: check 1.2s cubic-bezier(.5, 0, .6, 1) forwards .15s;
    -moz-animation: check 1.2s cubic-bezier(.5, 0, .6, 1) forwards .15s;
    -o-animation: check 1.2s cubic-bezier(.5, 0, .6, 1) forwards .15s;
    opacity: 0
}

@-webkit-keyframes check {
    from {
        stroke-dashoffset: 60;
        opacity: 1
    }
    to {
        stroke-dashoffset: 00;
        opacity: 1
    }
}

@-moz-keyframes check {
    from {
        stroke-dashoffset: 60;
        opacity: 1
    }
    to {
        stroke-dashoffset: 00;
        opacity: 1
    }
}

@keyframes check {
    from {
        stroke-dashoffset: 60;
        opacity: 1
    }
    to {
        stroke-dashoffset: 00;
        opacity: 1
    }
}

.wi-check-dash {
    stroke-dasharray: 10 100;
    animation: check-dash 1.2s cubic-bezier(.5, 0, .6, 1) forwards;
    -webkit-animation: check-dash 1.2s cubic-bezier(.5, 0, .6, 1) forwards;
    -moz-animation: check-dash 1.2s cubic-bezier(.5, 0, .6, 1) forwards;
    -o-animation: check-dash 1.2s cubic-bezier(.5, 0, .6, 1) forwards
}

@-webkit-keyframes check-dash {
    from {
        stroke-dashoffset: 120
    }
    to {
        stroke-dashoffset: 45
    }
}

@-moz-keyframes check-dash {
    from {
        stroke-dashoffset: 120
    }
    to {
        stroke-dashoffset: 45
    }
}

@keyframes check-dash {
    from {
        stroke-dashoffset: 120
    }
    to {
        stroke-dashoffset: 45
    }
}

.wi-circle {
    stroke-dasharray: 300 300;
    animation: circle 1.5s cubic-bezier(.5, 0, .5, 1) forwards .15s;
    -webkit-animation: circle 1.5s cubic-bezier(.5, 0, .5, 1) forwards .15s;
    -moz-animation: circle 1.5s cubic-bezier(.5, 0, .5, 1) forwards .15s;
    -o-animation: circle 1.5s cubic-bezier(.5, 0, .5, 1) forwards .15s;
    opacity: 0
}

@-webkit-keyframes circle {
    from {
        stroke-dashoffset: 300;
        opacity: 1
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1
    }
}

@-moz-keyframes circle {
    from {
        stroke-dashoffset: 300;
        opacity: 1
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1
    }
}

@keyframes circle {
    from {
        stroke-dashoffset: 300;
        opacity: 1
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1
    }
}

.wi-circle-dash {
    stroke-dasharray: 10 300;
    animation: circledash 1.5s cubic-bezier(.5, 0, .5, 1) forwards 50ms;
    -webkit-animation: circledash 1.5s cubic-bezier(.5, 0, .5, 1) forwards 50ms;
    -moz-animation: circledash 1.5s cubic-bezier(.5, 0, .5, 1) forwards 50ms;
    -o-animation: circledash 1.5s cubic-bezier(.5, 0, .5, 1) forwards 50ms;
    opacity: 0
}

@-webkit-keyframes circledash {
    from {
        stroke-dashoffset: 320;
        opacity: 1
    }
    to {
        stroke-dashoffset: 20;
        opacity: 1
    }
}

@-moz-keyframes circledash {
    from {
        stroke-dashoffset: 320;
        opacity: 1
    }
    to {
        stroke-dashoffset: 20;
        opacity: 1
    }
}

@keyframes circledash {
    from {
        stroke-dashoffset: 320;
        opacity: 1
    }
    to {
        stroke-dashoffset: 20;
        opacity: 1
    }
}

@media (max-width: 1400px) {
    .services {
        display: grid;
        grid-template-columns: 50% 1fr;
        margin-left: 0;
    }
}

@media (max-width: 1180px) {
    body,
    .main-btn {
        font-size: 14px;
    }
    header {
        .main-btn {
            line-height: 40px;
        }
        .navbar .navbar-nav .nav-link {
            padding: 40px 10px;
            font-size: 14px;
        }
        .bold-link {
            font-size: 16px;
        }
    }
    .first-screen {
        margin: 0;
        .padding-container {
            padding-left: 15px;
        }
        .photo-back {
            background-position: -255px 90px;
        }
    }
    .list-items .item-title {
        padding: 25px 30px;
    }
    .bg-services {
        margin-left: 0;
        .padding-container {
            padding-left: 15px;
        }
    }
    .services {
        margin-left: 0;
        grid-template-columns: 600px 1fr;
        .text {
            padding: 0 15px 0 35px;
        }
    }
    .footer-items .bold-link {
        font-size: 25px;
    }
}

@media (max-width: 1120px) {
    header .navbar-brand img {
        min-width: 200px;
    }
    header .main-btn {
        margin-right: 8px;
    }
}

@media (max-width: 1120px) and (min-width: 993px) {
    header .navbar-brand img {
        width: 220px;
    }
}

@media (max-width: 992px) {
    h2 {
        font-size: 32px;
        line-height: 45px;
    }
    .mobile-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    header {
        .dropdown-toggle::after {
            right: 9px;
            top: 20px;
        }
        .main-btn {
            margin-top: 10px;
            order: 2;
            max-width: 220px;
        }
        .navbar {
            padding: 20px 0;
        }
        .navbar .navbar-nav .nav-link {
            padding: 15px 0;
        }
        .text {
            padding-right: 10px;
            line-height: 49px;
        }
    }
    .first-screen {
        .photo-back {
            background-position: -395px 120px;
        }
    }
    .list-items {
        .item {
            padding: 10px;
            .item-icon {
                margin-bottom: 20px;
            }
        }
        .item-title {
            padding: 25px;
        }
        .item h2 {
            font-size: 32px;
            line-height: 45px;
        }
        .item-text {
            h3,
            p {
                line-height: 30px;
            }
        }
    }
    .images {
        grid-template-columns: 1fr;
        grid-gap: 60px;
        .img-with-text {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text {
            p {
                max-width: 660px;
                margin: 35px auto 0;
            }
        }
        .name {
            bottom: 0;
        }
    }
    .bg-services {
        background-image: none;
        margin-top: 45px;
        height: auto;
    }
    .services {
        grid-template-columns: 1fr;
        padding: 40px 0;
        .list-items {
            grid-gap: 35px;
            margin-bottom: 45px;
            .item {
                max-width: inherit;
            }
        }
    }
    footer h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .footer-items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 45% 1fr 1fr;
        .nav-contacts {
            padding-left: 0;
        }
    }
}

@media (min-width: 992px) {
    header {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 650px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 768px) {
    .first-screen {
        background-size: auto;
        height: 100%;
        padding: 35px 0;
        .photo-back {
            display: none;
        }
        .text {
            width: 100%;
        }
        .primary-title {
            max-width: 600px;
        }
    }
    .primary-title {
        font-size: 35px;
        line-height: 1.3;
    }
    .primary-btn {
        background-color: #71bfad;
        min-width: 220px;
        padding: 0 25px;
        line-height: 45px;
        font-size: 13px;
        &::after {
            top: 19px;
            margin-left: 8px;
            width: 7px;
            height: 7px;
        }
        &:hover::after {
            margin-left: 20px;
        }
    }
    .list-items {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 45px;
    }
    .background-text {
        margin-bottom: 45px;
    }
    .list-values .item {
        grid-template-columns: 40% 60%;
    }
    .services .primary-btn {
        min-width: 220px;
        padding: 0 20px;
    }
    .table-values {
        margin-top: 45px;
    }
    .footer-items {
        grid-template-columns: 60% 1fr;
    }
    .table-properties {
        .item {
            grid-template-columns: 1fr;
            &.item-title {
                grid-template-columns: 0 1fr 1fr;
                &>div:last-child {
                    box-shadow: none;
                    margin: 0;
                    border-radius: 0;
                }
            }
            h4 {
                font-size: 18px;
                line-height: 26px;
            }
            &:last-child .second-column {
                border-radius: 0;
                margin-bottom: 0;
            }
        }
        .name {
            padding: 18px 5px;
            p {
                text-align: center;
            }
            border-bottom: 1px solid #edeff3;
        }
        .first-column {
            padding: 10px 5px;
            p {
                font-size: 14px;
            }
        }
        .second-column {
            box-shadow: none;
            margin: 0;
        }
    }
}

@media (max-width: 568px) {
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .primary-title {
        font-size: 30px;
        text-align: center;
    }
    .first-screen {
        .text,
        .main-h1,
        .small-text {
            text-align: center;
        }
    }
    .bottom-buttons {
        flex-direction: column;
        span {
            margin-top: 5px;
        }
    }
    .list-items {
        grid-template-columns: 1fr;
    }
    .background-text .text {
        padding-left: 15px;
        padding-right: 15px;
        p {
            font-size: 20px;
            line-height: 35px;
        }
        .big-p {
            font-size: 28px;
        }
    }
    .list-values {
        .item {
            padding: 20px 0;
            grid-template-columns: 1fr;
            h3 {
                text-align: center;
            }
            p {
                line-height: 30px;
                padding-left: 0;
                text-align: center;
            }
        }
    }
    .services {
        .list-items {
            grid-template-columns: 1fr;
        }
        .text {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
    .footer-items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        &>div {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            text-align: center;
        }
        .nav-contacts {
            display: grid;
        }
    }
}