
html {
	font-size: 14px;

	@media only screen and (min-width : 769px){
		font-size: 16px;
	}
}

body {
	position: relative;
	min-width: $min-width;
	font-family: $default-font;
	color: $primary-color;
	// line-height: 1.2;
	overflow-x: hidden;

	// Fix text zoom on Mobile Devices
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.margin-top-bottom {
	margin-top: $size-desctop;
	margin-bottom: $size-desctop;

	@media only screen and (max-width: 768px) {
		margin-top: $size-mob;
		margin-bottom: $size-mob;
	}
}

.head-descr-sect_top {
    @extend .margin-top-bottom;
    font-family: $decorate-font;
    text-align: center;

    .container {
        max-width: 935px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1, .sub-title {
        font-weight: 700;
    }
    h1 {
        margin-bottom: 1.57rem;
    }
    .sub-title {
        @include fontSize(24px);
        font-family: $decorate-font;
        line-height: 2.5rem;
        color: $secondary-color;
        margin-bottom: 0;
        letter-spacing: normal;

        &-last {
            margin-bottom: 1.25rem;
        }
    }
    p {
        @include fontSize(16px);
        font-family: $default-font;
        color: $primary-light-color;
        line-height: 2.25rem;
        letter-spacing: -0.1px;
    }  
}
.sub-title {
    @include fontSize(24px);
    font-family: $decorate-font;
    line-height: 2.5rem;
    color: $secondary-color;
    margin-bottom: 0;
    letter-spacing: normal;

    &-last {
        margin-bottom: 1.25rem;
    }
}

.max-width {
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	@media only screen and (min-width : 768px){
		padding-left: 30px;
		padding-right: 30px;
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

address, blockquote, center, section, main, header, footer, div, fieldset, form, input, textarea,
h1, h2, h3, h4, h5, h6, hr, menu, ol, ul, li, p, span, a, pre, table {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

