
//var font-family
$default-font: 'roboto', sans-serif;
$decorate-font: 'playfairdisplay', sans-serif;

//var colors
$main-color: #00623f;
$text-color: #000;
$color-placholder: gray;

//var width
$min-width: 270px;
$max-width: 1440px;



$size-desctop: 90px;
$size-mob: 40px;


$primary-color: #233556;
$primary-light-color: #6c7c9b;
$secondary-color: #71bfad;
$secondary-color-hover: #23705e;
$third-color: #7997d5;
$fourth-color: #fbab99;
$fifth-color: #6fb6d6;
$sixth-color: #79ccb8;
$dot-color: #cfdad7;
$dot-active-color: #79cbb7;
$danger-color: #de0000;
$background-color-icon: rgba(121, 204, 184, 0.102);
$box-shadow-item: rgba(184, 216, 221, 0.3);

